#ids{
    background-color:yellow
}
selector{
    property:value;
}
#circle{
    background-color:pink;
    height:100px;
    width:100px;
    border-radius:50%;
                                                                                                                                                                                                                                                                                             
}